.background {
    
    
    .background_img {
        height: 700px;
        filter: brightness(20%);
        width: 100%;
    }
    h2 {
        position: absolute;
        bottom: 43%;
        left: 31%;
        color: white;
        text-transform: uppercase;
        width: 40%;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 28px;
        font-weight: 900;
    }
}